
{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
 
  <meta charset="UTF-8">
  <title>GROUP-23</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

     <!-- <link rel="stylesheet" href="css/style.css">-->
	  <link rel="stylesheet" href="{% static "css/style.css" %}">
  
</head>

<body>
  

<div class="pen-title">
  <h1>Smart Water Management System</h1><span><i class='fa fa-code'></i><a href='http://andytran.me'> {{status}}</a></span>
</div>
<div class="rerun"><a href="">Reload</a></div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
	<div class="login">
			<div class="login__form">

	<form method="POST" action="{% url 'signin' %}">
			{% csrf_token %}
			<div class="login__row">
			<div class="input-container">
							<input type="text" class="login__input name" placeholder="" name="username" required=False/>
			  <label for="#{label}">Username</label>
			  <div class="bar"></div>
			</div>
			</div>
			<div class="login__row">
			<div class="input-container">
			  <input type="password" class="login__input pass" placeholder="" name="password" required=False/>
			  <label for="#{label}">Password</label>
			  <div class="bar"></div>
			</div>
			</div>
			<div class="button-container" >
			  <button type="submit" name="signin"><span>Next</span></button>
			</div>
		  </form>

	</div>
	</div>
  </div>

  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
	
	{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  
  <form class="form-horizontal" role="form" action="{% url 'register' %}" method="POST"  enctype="musltipart/form-data">
    {% csrf_token %}
    <div class="login__row">  
    <div class="input-container">
        <input type="email" class="login__input name" name="email" placeholder="Email address" required/>
        <label for="#{label}">Email</label>
        <div class="bar"></div>
      </div>
    </div>
    <div class="login__row">
      <div class="input-container">
          <input type="text" class="login__input name" placeholder="" name="username" required=False/>
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
    </div>
    <div class="login__row">
      <div class="input-container">
          <input type="password" class="login__input pass" placeholder="" name="password" required=False/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
    </div>
      <div class="button-container">
        <button type="submit" name="signup" ><span>Register</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
	
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static "js/index.js"%}"></script>
    <!--<script  src="js/index.js"></script>-->
</body>
</html>



		
